@import "tailwindcss";
@keyframes pulse-soft {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.node {
  animation: pulse-soft 3s ease-in-out infinite;
}
